.busketLink {
  border-radius: 35px;
  text-align: center;
}

.busketLink_btn {
  width: 70px;
  height: 70px;
  background: transparent;
  background-image: url(../../../pictures/busket.png);
  background-repeat: no-repeat;
  background-size: 75px 75px;
  border: none;
}

.busketLink_btn:hover {
  background-image: url(../../../pictures/busket_hover.png);
  z-index: 9;
  cursor: pointer;
}

.output {
  display: block;
  height: 19px;
  color: #000;
  font-size: 0.8em;
  margin: 0;
  cursor: default;
  cursor: pointer;
}

.output:hover {
  color: #abe35f;
}
