.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 85vh;
  /* width: 66%; */
  padding: 0px 10% 0px 10%;
}

.promo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.promo_text {
  margin: 0 auto;
  font-size: 35px;
  height: 50px;
}

.menu_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 80%;
  color: #fff;
  /* width: 66%; */
  min-height: 85vh;
  /* padding: 0px 15% 0px 15%; */
}

.card {
  width: 400px;
  height: 350px;
  border-radius: 35px;
  margin: 40px;
  box-shadow: -10px 10px 20px 2px #000;
  display: grid;
  grid-template-rows: 300px 50px;
  grid-template-columns: 1fr;
  cursor: pointer;
  font-size: 90%;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.card:hover {
  animation: jello-horizontal 1.2s both;
}

.img {
  grid-row: 1/2;
  grid-column: 1;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}

.text {
  grid-row: 2/3;
  grid-column: 1;
  text-align: center;
  padding: 5px;
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menu_card {
  width: 250px;
  height: 280px;
  border-radius: 35px;
  margin: 30px;
  box-shadow: -10px 10px 20px 2px #000;
  display: grid;
  grid-template-rows: 200px 80px;
  grid-template-columns: 1fr;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.menu_card:hover {
  animation: blink 1.2s both;
  cursor: pointer;
}

.img {
  grid-row: 1/2;
  grid-column: 1;
}

.text {
  grid-row: 2/3;
  grid-column: 1;
  text-align: center;
  padding: 5px;
  position: relative;
}

.price {
  margin: 10px;
  font-size: 90%;
  color: #abe35f;
}

.addToBusketBtn {
  background: #abe35f;
  border-radius: 7px;
}

.addToBusketBtn:hover {
  background: #f56433;
  cursor: pointer;
}

.addToBusketBtn:active {
  background: #221b20;
}