.App {
  margin: 0;
  padding: 0;
  font-family: "Stalinist One", cursive;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  list-style: none;
  width: 100%;
}

@keyframes move {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 1920px;
  }
}

.content {
  background: url(./pictures/content.jpg);
  animation: move 100s infinite linear;
  display: flex;
  height: max-content;
  width: 100%;
  position: relative;
  justify-content: space-around;
}

.active {
  color: #17c42e !important;
}
